<div class="wrapper-404">

  <div class="lado-izq">
    <div class="logo-header">
      <div class="logo-icon">
        <span class="icono-wallet">⊞</span>
      </div>
      <span class="logo-nombre">WealthGuard</span>
    </div>

    <div class="contenido-izq">
      <h1 class="titular">
        Ruta fuera de <br />
        <span class="acento">balance.</span>
      </h1>
      <p class="subtitulo">
        La página que busca no está disponible actualmente. Descanse tranquilo,
        sus activos permanecen seguros y bajo vigilancia institucional permanente.
      </p>
    </div>

    <div class="estado-footer">
      <div class="estado-item">
        <span class="estado-label">ESTADO DE RED</span>
        <span class="estado-valor verde">
          <span class="dot-pulso"></span> Operativo
        </span>
      </div>
      <div class="estado-item borde-izq">
        <span class="estado-label">SEGURIDAD</span>
        <span class="estado-valor">Nivel IV</span>
      </div>
    </div>
  </div>

  <div class="lado-der">
    <div class="numero-404">
      <span class="fondo-404">404</span>
      <span class="icono-error">⊙</span>
    </div>

    <h2 class="titulo-error">Algo no cuadra</h2>
    <p class="descripcion-error">
      Parece que la dirección ingresada no existe o ha sido movida a una nueva
      ubicación. ¿Desea que lo guiemos de vuelta?
    </p>

    <div class="acciones">
      <button class="btn-primario" (click)="irAlPanel()">
        ⊞ Volver al Panel General
      </button>
      <button class="btn-secundario" (click)="irAlLogin()">
        → Ir al Login
      </button>
    </div>


    <p class="copyright">© 2026 WEALTHGUARD ASSET MANAGEMENT</p>
  </div>

</div>