<table class="tabla">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Categoría</th>
      <th>Descripción</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let m of movimientosPaginados">
      <td>{{ m.fecha |date: 'dd/MM/yyyy' }}</td>

      <td>{{ m.nombreCategoria }}</td>

      <td>{{ m.descripcion }}</td>

      <td [class.ingreso]="m.tipoTransaccion === true"
          [class.gasto]="m.tipoTransaccion === false">
        {{ m.tipoTransaccion ? '+' : '-' }}{{ m.cantidad | number: '1.2-2' }}€
      </td>

      <td class="acciones">
        <button class="btn-icon">
          <span class="material-symbols-outlined">edit</span>
        </button>

        <button class="btn-icon delete">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="paginacion">
  <button (click)="anterior()" [disabled]="pagina === 1">Anterior</button>

  <button *ngFor="let p of paginas"
          (click)="irAPagina(p)"
          [class.activa]="pagina === p">
    {{ p }}
  </button>

  <button (click)="siguiente()" [disabled]="pagina === totalPaginas">Siguiente</button>
</div>

<div class="insights">

  <div class="card">
    <p class="label">TENDENCIA MENSUAL</p>
    <h4>{{ tendencia > 0 ? '+ ' : '' }}{{ tendencia |number: '1.0-0'}}%</h4>
    <p class="sub">{{ tendencia >= 0 ? '📈' : '📉' }} vs. mes anterior</p>
  </div>

  <div class="card">
    <p class="label">CATEGORÍA PRINCIPAL</p>
    <h4>{{categoriaPrincipal[0]}}</h4>
    <p class="sub">{{categoriaPrincipal[1]}}% de los gastos totales</p>
  </div>

  <div class="card primary">
    <p class="label">META DE AHORRO: {{ totalMeta | number: '1.0-0' }} €</p>
    <h4>{{meta[0] | number:'1.2-2'}} €</h4>

    <div class="progress">
      <div class="bar" [style.width.%]="meta[1]"></div>
    </div>

    <p class="sub">{{meta[1] | number: '1.0-1'}}% de la meta alcanzada</p>
  </div>

</div>