<app-header></app-header>
<app-menu-lateral></app-menu-lateral>

<div class="container">
  <main class="contenedor-principal">

    <section class="tarjeta-perfil">
      <div class="contenido-perfil">
        <div class="contenedor-avatar">
        
          <img src="/usuario.png" class="imagen-perfil" alt="Foto de perfil">
           
          <button class="boton-editar-avatar" title="Editar foto">✎</button>
        </div>

        <div class="datos-usuario">
          <h2>Julian Alexander</h2>
          <p>julian.alexander@wealthguard.com</p>
          <div class="etiquetas-usuario">
            <span class="etiqueta-fecha-registro">UNIDO EN OCT 2023</span>
          </div>
        </div>

        <div class="acciones-usuario">
          <button class="boton-exportar-datos">Exportar Datos</button>
          <button class="boton-editar-perfil">Editar Perfil</button>
        </div>
      </div>
    </section>

    <aside class="tarjeta-plan tarjeta-proximamente">
      <div class="cabecera-plan">
        <div class="badge-nuevo">NUEVO</div>
        <h3>Nuevas Funciones</h3>
        <p>Estamos preparando herramientas de análisis predictivo para tu cartera.</p>
      </div>
      <button class="boton-proximamente">
        PRÓXIMAMENTE
      </button>
    </aside>

   
    <div class="grid-configuracion">
      
      <section class="seccion-ajustes">
        <div class="cabecera-seccion">
          <h3>Seguridad de la cuenta</h3>
        </div>
        
        <div class="item-ajuste">
          <div class="texto-item">
            <strong>Contraseña</strong>
            <p>Tu última actualización fue hace 3 meses</p>
          </div>
          <button class="boton-flecha">Actualizar ›</button>
        </div>
      </section>

      <section class="seccion-desactivar-cuenta">
        <div class="texto-desactivar-cuenta">
          <h3>Eliminar Cuenta</h3>
          <p>La eliminación de la cuenta es permanente y borrará todo tu historial financiero.</p>
        </div>
        <button class="boton-eliminar-cuenta">
          Eliminar Cuenta
        </button>
      </section>

    </div>
  </main> 
</div>