/* Global CSS variables and responsive sidebar width */
:root{
	--sidebar-width: 15dvw;
	--header-height: 5dvh; /* default header height for desktop */

	--background: '#f8f9ff';
  --bg: #f6f8fb;
  --card: #ffffff;
  --muted: #8b98a9;
  --border: #e6e9ee;
  --accent: #0b7a4a;
  --danger: #e54b4b;
  --primary: #0b6cff;
  --glass: rgba(11, 12, 15, 0.03);
}

@media (max-width: 900px){
	:root{
		--sidebar-width: 15dvw; /* keep proportional on small screens */
		--header-height: 5dvh; /* adjust header height for mobile */
	}
}

/* You can add global styles to this file, and also import other style files */
html{
	background: var(--background);
	font-family: 'Inter', sans-serif;

}

body{
  background: #f3f3f3;
}

.mat-datepicker-popup .mat-datepicker-content {
  background-color: white;
}

.contenedor-filtros-global .mat-mdc-text-field-wrapper {
  border-radius: 12px ;
  border: 1px solid #e5e5e5;
  background: white;
}

.contenedor-filtros-global .mdc-notched-outline__leading,
.contenedor-filtros-global .mdc-notched-outline__notch,
.contenedor-filtros-global .mdc-notched-outline__trailing {
  border-color: #e5e5e5 !important;
}

.contenedor-filtros-global .mat-mdc-text-field-wrapper:hover {
  border-color: #ccc;
}

.contenedor-filtros-global .mat-mdc-text-field-wrapper.mdc-text-field--focused {
  border-color: #999;
}

.contenedor-filtros-global .mat-date-range-input-container {
  padding-left: 12px;
  padding-right: 12px;
  gap: 8px;
}

